@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.app-container {
  display: flex;
  
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  width: 75%;
  margin-right: 1.5%;
}

.module-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 5px;
  border-style: solid;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  text-align: center;
}

.grid-item button {
  background-color: rgba(255, 255, 255, 0.8); /* Green */
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.active {

}

.inactive {
  background-color: #999999;
}

.control-panel {
  display: inline-block;
  background: white;
  border-radius: 5px;
  width: 20%;
}

.control-panel h1 {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.module-control {
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
